## Pandas Series

Pandas deals with the following three data structures −
  
    1. Series
    2. DataFrame
    3. Panel

These data structures are built on top of Numpy array, which means they are fast.

## Series

<font size='4'>- Series is a one-dimensional array with labels.<br> 
- capable of holding data of any type (integer, string, float, python objects, etc.).<br> 
- The axis labels are collectively called index.</font>

## Create Series

 A series can be created using various inputs like −

    1. Array
    2. List
    3. Dict
    3. Scalar value or constant

In [1]:
import pandas as pd
import numpy as np

In [2]:
arr = np.array(['a','b','c','d'])
arr

array(['a', 'b', 'c', 'd'], dtype='<U1')

In [3]:
# Create a series from ndarray
s1 = pd.Series(arr)
s1

0    a
1    b
2    c
3    d
dtype: object

In [4]:
# Create a series from list
s2 = pd.Series([10,20,30,40,50])
s2

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [5]:
s2.index=['a','b','c','d','e']
s2

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [6]:
# create a series from dictionary
s3= pd.Series({'a':10,'b':20,'c':30,'d':40})
s3

a    10
b    20
c    30
d    40
dtype: int64

In [7]:
# If both a dict and index sequence are used, the index will override the keys found in the dict.
s4= pd.Series({'a':10,'b':20,'c':30,'d':40},index=['a','b','ab','c','d'])
s4

a     10.0
b     20.0
ab     NaN
c     30.0
d     40.0
dtype: float64

In [8]:
# Create a Series from Scalar
# Example 1
s5 = pd.Series(5)
s5

0    5
dtype: int64

In [9]:
# Example 2
s6=pd.Series(5,index=[1,2,3,4])
s6

1    5
2    5
3    5
4    5
dtype: int64

In [10]:
s7 = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
s7

a   -1.619145
b    1.155772
c    1.007564
d   -1.832899
e   -0.558982
dtype: float64

In [11]:
s8=pd.Series([1,2,3,4],index=[np.arange(4)])
s8

0    1
1    2
2    3
3    4
dtype: int64

In [12]:
# to know the length of a series(Number of elements)
len(s8)

4

In [13]:
# to know the length of a series(Number of elements)
s8.size

4

In [14]:
# to know the length of a series(Number of elements)
s8.shape

(4,)

In [15]:
s2

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [16]:
s2.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [17]:
s2.values

array([10, 20, 30, 40, 50], dtype=int64)

In [18]:
## To know Number of values in the series
s2.count()

5

In [19]:
# changing data type 
s2.values.astype(float)

array([10., 20., 30., 40., 50.])

In [20]:
s2

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [21]:
s2.head(3)

a    10
b    20
c    30
dtype: int64

In [22]:
# OR
s2.head(n=3)

a    10
b    20
c    30
dtype: int64

In [23]:
s2.tail(3)

c    30
d    40
e    50
dtype: int64

## Accessing Data from Series with Position

In [24]:
# retrieve the secondt element
s2[1]

20

In [25]:
# retrieve the first three element
print("first methos:\n",s2[:3],'\nsecond method:\n',s2[[0,1,2]])

first methos:
 a    10
b    20
c    30
dtype: int64
second method:
 a    10
b    20
c    30
dtype: int64

In [26]:
# retrieve the last three element
s2[-3:]

c    30
d    40
e    50
dtype: int64

## Accessing Data from Series using label(Index)

In [27]:
s2

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [28]:
s2.index=['a','b','c','d','e']

In [29]:
#retrieve a single element
print(s2['a'],s2['d'],s2['b'])

10 40 20

In [30]:
#retrieve multiple elements
print(s2[['a','b','d']])

a    10
b    20
d    40
dtype: int64

In [31]:
# retrieve continueous elements
s2['a':'d']

a    10
b    20
c    30
d    40
dtype: int64